extends widgets/layout

block content
  h1= title

  h2 Visitor IP Addresses
  ul
    for ip in ips
      li=ip

  table
    caption Page Visits
    if urls
      each val, key in urls
        tr
          td #{key}
          td #{val}
